/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* variable font range */
    font-style: normal;
    font-display: swap;   /* recommended for performance */
}

@font-face {
    font-family: 'Quattrocento';
    src: url('/static/fonts/Quattrocento-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quattrocento';
    src: url('/static/fonts/Quattrocento-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    background-color: #f9f9f9;
    
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
}

h1, h2, h3 {
    font-family: 'Quattrocento', serif;
}

h1 {
    font-size: 2.027rem;
    line-height: 1.2;
}

h2 {
    font-size: 1.802rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.602rem;
    line-height: 1.3;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form, h1 {
    padding: 10px;
}

input {
    width: 100%;
    padding: 6px;
    margin: 6px 0;
}

.table-container {
    max-width: 1200px;
    overflow-x: auto;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}
